.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4d463a;
  padding: 0 5%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #d4d0c4;
}

.header li:first-child a {
  font-size: 2rem;
}

.header a:hover,
.header a:active,
.header li.active a {
  color: white;
}
